page {
  background: #F5F5F9;
}

.myContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  :global {

.nut-noticebar{
  width: 100%;
  position: absolute;
  top: 120px;
  .nut-noticebar-page{
    padding: 0;
  }
  .left-icon{
    display: none;
  }
  .right-icon{
    display: none;
  }}

    .nut-circleprogress{
    position: relative;
    width: 85vw !important;
    height: 85vw !important;
    }
    .nut-circleprogress-text{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8074FE;
      font-size: 30px;
    }
    .bgImg{
      position: absolute;
      width: 92%;
      height: 92%;
      top: 5px;
      z-index: -1;
      opacity: .2;
    }
    .progressDiv{
    }
  }
}