.bottom {
  position: absolute;
  bottom: 28px;
  left: 0;
  width: 100vw;
  height: 120px;
  color: aliceblue;
  padding: 0 20px;
  box-sizing: border-box;
  // pointer-events: none;
  :global {
    .userInfo {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      .nick {
        // 超过一行展示省略
        margin: 0 12px;
        font-weight: Medium; 
        font-size: 18px;
        overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      display: -webkit-box;
      -webkit-line-clamp: 1; // 超出多少行
      -webkit-box-orient: vertical;
      }
    }
    .content {
      font-weight: Regular; 
      font-size: 16px;
      // //超过两行换行展示
      // overflow: hidden; //超出的文本隐藏
      // text-overflow: ellipsis; //溢出用省略号显示
      // display: -webkit-box;
      // -webkit-line-clamp: 2; // 超出多少行
      // -webkit-box-orient: vertical;
    }
  }
}
