page {
  background: #F5F5F9;
}

.memo {
  display: flex;
  flex-direction: column;
  .content{
    flex: 1;
     .nut-noticebar {
      width: 100%;
      margin-bottom: 10px;
      .nut-noticebar__page {
        padding: 0;
      }
    }
  }
}