dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.husky/_
project.private.config.json

javaSever/target/
javaSever/.idea/workspace.xml

components.d.ts
*.xml
javaSever/.idea/workspace.xml
