.signContainer{
  :global {

    .mySignatureClass{
      .spcanvas_WEAPP{
        border: 0px ;
        canvas{
          width: 300px;
          height: 300px;
          border: 1px solid black;
        }

      }
    }
    .imgList{
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      .imageItem{
        width: 100px;
        height: 100px;
        margin: 0 10px 10px 0;
        border: 1px dashed #777 ;
        display: flex;
        align-items: center;
        justify-content: center;
        .imgData{
          width: 100%;
        }
      }
     
    }
    .btnGroup {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .tip{
      padding: 10px;
      font-size: 20px;
      color: #7468f2;
      word-wrap:break-word; 
      font-family: monospace;
      margin-bottom: 20px;
      letter-spacing: 2px;
    }
  
     
  }

}
