.signContainer{
  :global {

    .mySignatureClass{
      .spcanvas_WEAPP{
        border: 0px ;
        canvas{
          width: 300px;
          height: 300px;
          border: 1px solid black;
        }

      }
    }
    .imgList{
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      .imageItem{
        width: 100px;
        height: 100px;
        margin: 0 10px 10px 0;
        border: 1px dashed #777 ;
        display: flex;
        align-items: center;
        justify-content: center;
        .imgData{
          width: 100%;
        }
      }
     
    }
  
     
  }

}
