page {
  background: rgba(116, 104, 242,.4);
}
.myContainer {
  width: 100vw;
  height: 100vh;
  
  :global {
    .nut-noticebar {
      width: 100%;
      height: 40px;
      .nut-noticebar-page {
        padding: 0;
      }
      .left-icon {
        display: none;
      }
      .right-icon {
        display: none;
      }
    }
   .tipTitle{
    font-size: 16px;
    font-weight: 500;
    color: #ff5a19;
    opacity: .9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
   }
    .menu{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      // align-items: flex-start;
      justify-content: center;
      align-items: center;
      .menu-item{
        width: 150px;
        height: 150px;
        margin: 10px;
        border: 1px  #8074fe ;
        border-style: dashed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        position: relative;

        .title{
          font-size: 20px;
          font-weight: 500;
          color: #ff5a19;
          opacity: .9;
        }
        .bgImg{
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          top: 0px;
          z-index: -1;
          opacity: .3;
        }
        .activeImg:local{
          animation: bgrotate 2s infinite;
        }
        @keyframes bgrotate{
          0% {
            transform: rotate(1deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        
      }
    }
  }
}
