.swiperItem {
  :global {
    .content-div {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .content-info {
        height: 100%;
        width: 100%;
        background-color: #000;

        .video-div {
          height: 100%;
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .video-flag {
            width: 60px;
            height: 60px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            pointer-events: none;
          }

          video {
            height: 100vh;
            width: 100vw;
          }
        }

        .img {
          width: 100vw;
          height: 100vh;
        }
      }

    }
  }
}
