.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  :global{
    .content {
      width: 100%;
      text-align: center;
      .bg {
        width: 600rpx;
        height: 1000rpx;
      }
      .close{
        .closeImg {
          width: 60rpx;
          height: 60rpx;
        }
      }
      .popupBtn{
        width: 100%;
        height: 90rpx;
        position: relative;
        top: -88px;
      }
    }
  }
}