page {
  background: rgba(116, 104, 242,.4);
}
.myContainer {
  width: 100vw;
  height: 100vh;
  
  :global {
  
   .tipTitle{
    font-size: 16px;
    font-weight: 500;
    color: #ff5a19;
    opacity: .9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
   }
   .tipGameR{
    font-size: 12px;
    color: #ff5a19;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   }
   .ganmeCenter{
    .tip{
      margin-bottom: 20px;
    }
    .gameBtn{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      font-size: 40px;
      color: rgb(116, 104, 242);
    }
   }
  }
}
