.container {
  position: absolute;
  bottom: 180px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  :global {
    
   .bar-item {
    z-index: 99999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: aliceblue;
      font-weight: Regular;
      font-size: 12px;
      margin-bottom: 26px;
      &:last-child{
        margin-bottom: 0;
      }
      .icon {
        width: 36px;
        height: 36px;
      }
    }
   
  }
}
