.upList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  :global {
    .chooseItem{
      z-index: 100;
    }
    .mini-drag-item{
      height: 33.33% !important;
    }
    
    .vedioDiv{
      height: 358px;
      width: 100%;
      .vedioDiv-item{
        width: 33.33%;
        height: 33.33%;

      }
    }

    .item-view {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      .close-img {
        position: absolute;
        right: -9rpx;
        top: -11rpx;
        z-index: 1;
      }
    }
    .up-list-item {
      height: 100%;
      width: 100%;
      
      img {
        height: 100%;
        width: 100%;
      }
      .vedio-state {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
    .uploader-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f7f7;
      color: #979797;
      font-size: 32px;
      font-weight: lighter;
    }
  }
}
