page{
  background: #F5F5F9;
}
.container {
  :global{

    .sku-operate-box {
      width: 100%;
      display: flex;
      padding: 8px 10px;
      padding-bottom: 30px;
      box-sizing: border-box;
    }
    .sku-operate-item {
      flex: 1;
    }
    .sku-operate-item:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .sku-operate-item:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .top{
      width: 100%;
      height: 120px;
      background: #F5F5F9;
      padding:24rpx;
      box-sizing: border-box;
      position: relative;
      color: #333333;
      .title{
        position: absolute;
        top: 56rpx;
        left: 76rpx;
        font-size: 24rpx;
      }
      .tip{
        position: absolute;
        top: 116rpx;
        left: 76rpx;
        font-size: 40rpx;
      }
      .numb{
        position: absolute;
        top: 100rpx;
        left: 120rpx;
        font-size: 56rpx;
      }
      & > image {
        width: 700rpx;
        height: 196rpx;
        position: absolute;
      }
    }
    .content{
      width: 100%;
      height: 440rpx;
      background: #fff;
      padding: 32rpx 40rpx;
      box-sizing: border-box;
      .title{
        color: #333333;
        font-size: 32rpx;
        margin-bottom: 32rpx;
      }
      .moneyBox{
        overflow:hidden;
        .numbBox{
          width: 210rpx;
          height: 100rpx;
          border-radius: 4px;
          border: 1px solid #EEEEEE;
          line-height: 100rpx;
          text-align: center;
          color: #333333;
          float: left;
          margin-right: 15rpx;
          margin-bottom: 24rpx;
          &:nth-child(3n) {
            margin-right: 0;
          }
          .numb{
            font-size: 46rpx;
            margin-right: 8rpx;
          }
          .unit{
            font-size: 32rpx;
          }

        }
      }
      .tips{
        color: #666666;
        font-size: 24rpx;
        margin-top: 12rpx;
      }
    }
    .active{
      border: 1px solid #7C70F2 !important;
    }
    .disabled{
      color: #EEEEEE !important;
      border: 1px solid #EEEEEE !important;
    }
    .btn{
      width: 100%;
      text-align: center;
      margin-top: 70rpx;
    }
    .tipsBox{
      font-size: 12px;
      color: #999999;
      margin-top: 40rpx;
      padding: 0 40rpx;
      box-sizing: border-box;
      .tip{
        margin-bottom: 8rpx;
      }
    }
    .nut-sku-content{
      box-sizing: border-box;
      .descHtml {
        // padding: 10px;
        .detail {
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      .numContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 20px;

        .tip {
          font-weight: 500;
          font-size: 16px;
        }

        .num {
          padding-right: 20px;
          font-size: 14px;

        }
      }
    }
    .nut-button--primary {
      color: #fff;
      background: -webkit-linear-gradient(315deg, #7468F2 0%, #7468F2 100%);
      background: -o-linear-gradient(315deg, #7468F2 0%, #7468F2 100%);
      background: linear-gradient(135deg, #7468F2 0%, #7468F2 100%);
      border: 2rpx solid transparent;
      height: 80rpx;
      font-size: 32rpxx !important;
      font-weight: 600;
  }
  }
}
