.mpmPick {
  width: 100%;
  :global {
    .picker{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      .pickLab{
        font-size: 14px;
        color: #333333;
      }
      .pickContent{
        border: 1px solid #EBEDF3;
        border-radius: 4px;
        height: 20px;
        width: 250px;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #666666;
      }
      .next{
        transform: rotate(180deg);
      }
    }
  }
}