page {
  background: #f5f5f9;
}
.myContainer {
  width: 100vw;
  height: 100vh;
  
  :global {
    .nut-noticebar {
      width: 100%;
      height: 40px;
      .nut-noticebar__page {
        padding: 0;
      }
      .left-icon {
        display: none;
      }
      .right-icon {
        display: none;
      }
    }
    .richText{
      position: relative;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 132px;
      
      .video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 132px;
        z-index: -1;
      }        
    }
    .menu{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      // align-items: flex-start;
      justify-content: center;
      align-items: center;
      .menu-item{
        width: 150px;
        height: 150px;
        margin: 10px;
        border: 1px  #8074fe ;
        border-style: dashed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        .title{
          font-size: 20px;
          font-weight: 500;
          color: #8074fe;
          opacity: .9;
        }
        .bgImg{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          z-index: -1;
          opacity: .2;
        }
      }
    }
  }
}
