.waterfall {
  background-color: #f3f3fe;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  // 容器必须有固定高度
//  且高度大于最高的列高
  height: 100vh;
  overflow: scroll;
  // 非必须
  width: 100%;
  counter-reset: items;
  opacity: 0;
  animation: page 3s ease;
  animation-delay: .2s;
  animation-fill-mode : forwards;
  @keyframes page {
    100% {
      opacity: 1;
    }
  }
  :global {
    .item {
      width: 33%;
      //  非必须
      position: relative;
      padding: 2px;
      color: #fff;
      box-sizing: border-box;
      image {
        width: 100%;
        border-radius: 3px;
      }
    }

    /* 仅用于打印数字 */
    // view.item::before {
    //   counter-increment: items;
    //   content: counter(items);
    // }

    /* 将内容块重排为4列 */
    // .item:nth-of-type(4n+1) { order: 1; }
    // .item:nth-of-type(4n+2) { order: 2; }
    // .item:nth-of-type(4n+3) { order: 3; }
    // .item:nth-of-type(4n)   { order: 4; }
    .item:nth-of-type(3n+1) { order: 1; }
    .item:nth-of-type(3n+2) { order: 2; }
    .item:nth-of-type(3n) { order: 3; }
    // .item:nth-of-type(4n)   { order: 4; }



  }
}
