.swiper {
  :global {
    .swiper-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: Regular;
      line-height: 26px;
      .avater {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 3px;
      }
    }
  }
}