.personCard {
  position: relative;
  width: 70vw;
  height: 40vw;
  border-radius: 2vw;
  overflow: hidden;
  box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.445);
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.164));
  z-index: 10;
  :global {
    .b {
      position: absolute;
      width: 28vw;
      height: 30vw;
      left: 0;
      margin: 5vw 8vw;
      transition: 1s;
      .wxTxt{
        /* 鼠标放开时的动画，第一个值是动画的过渡时间
                第二个值是延迟一秒后执行动画 */
        font-size: 16px;
        transition: 0.5s 1s;
        opacity: 0;
        color: rgb(30, 210, 200);
      }
      .contentText {
        transition: 0.5s 1s;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        width: 100%;
        left: 0;
        top: 5.5vw;
      }
      .a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 900;
      }
    }

    .c {
      position: absolute;
      top: -13vw;
      right: -32vw;
    }

    .d,
    .e {
      position: absolute;
      right: calc(var(--i) * 10vw);
      width: calc(var(--w) * 4vw);
      height: 50vw;
      overflow: hidden;
      border-radius: 10vw;
      transform: rotateZ(220deg) translate(0, 0);
      background: rgb(240, 220, 150);
      transition: 0.5s 0.5s;
    }

    .d:nth-child(2) {
      background: rgb(240, 190, 230);
    }

    .e {
      left: -47vw;
      top: -14vw;
      width: 7vw;
      background-color: rgb(90, 220, 150);
    }

    .f {
      width: 29vw;
      height: 29vw;
      position: absolute;
      background-image: url("./wechat.png");
      background-size: cover;
      margin: 6vw;
      opacity: 0;
      transition: 0.5s;
    }
  }
  &:hover {
    :global {
      .c view {
        /* 设置延迟动画 */
        transition: 0.5s calc(var(--i) * 0.1s);
        /* 移动的轨迹 */
        transform: rotateZ(220deg) translate(-200px, 400px);
      }
      .f {
        transition: 1s 1.3s;
        opacity: 1;
      }
      .b {
        transition: 1s 0.5s;
        left: 30vw;
        .wxTxt {
          font-size: 16px;
          transition: 1s 0.5s;
          opacity: 1;
        }
        .contentText {
          transition: 1s 0.5s;
          top: 11vw;
        }
      }
    }
  }

}
