page {
  background: #F5F5F9;
}

.myContainer {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  :global {

    .nut-noticebar {
      width: 100%;
      margin-bottom: 10px;
      .nut-noticebar-page {
        padding: 0;
      }
      // .left-icon {
      //   display: none;
      // }
      // .right-icon {
      //   display: none;
      // }
    }
    .scrollList{
      flex: 1;
      .memoDataList{
        .item{
          display: flex;
          margin: 10px 0;
          .aside{
            width: 140rpx;
            display: flex;
            flex-wrap: nowrap;
            margin: 2px 2px 10px 6px;
            .day{
              font-size: 25px;
              font-weight: 500;
              margin-right: 2px;
            }
            .mouse{
              font-size: 16px;
              font-weight: 400;
              padding-top: 10px;
      
            }
          }
          .main{
            flex: 1;
            margin-top: 12px;
            margin-left: -5px;
            padding-right: 5px;

            .content{
              width: 100%;
              margin-bottom: 6px;
              font-size: 16px;
              font-weight: 500;
            }
            .resourceList{
              display: flex;
              flex-wrap: wrap;
              .resourceListItem{
                width: 85px;
                height: 85px;
                margin: 0 7px 7px 0;
                position: relative;
                image{
                  width: 100%;
                  height: 100%;
                }
                .vedioFlag{
                  position: absolute;
                  width: 50rpx;
                  height: 50rpx;
                  z-index: 1;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
      
            }
            .bottom{
              margin-top: 12px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .time{
                font-size: 12px;
                color: #666666;
              }
              .op{
                display: flex;
                .opItem{
                  margin-right: 20px;
                  font-size: 14px;
                }
                .delete{
                  color: #999;
                }
                .add{
                  color: #8074fe;
                }
               
              }
              
            }
          }
        }
      }
    }


  .defaultBox{
    margin-top: 100rpx;
    .img{
      width: 160rpx;
      height: 160rpx;
      margin: 0 auto;
      & > image {
        width: 100%;
        height: 100%;
      }
    }
    .tips{
      text-align: center;
      color: #666666;
      font-size: 24rpx;
      margin-top: 32rpx;
    }
  }
  .safeBottom{
    height: env(safe-area-inset-bottom);
  }
}
}