.myContainer {
  background-color: rgb(249, 249, 249);
  position: relative;

  :global {
    width: 100%;
    height: 100vh;
    background: transparent;

    .infoContent {
      display: flex;
      align-items: center;

      image {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: 13px 20px;;
      }

      .info {
        flex: 1;
        font-size: 20px;
        font-weight: 600;
        color: black;


      }

      .edit {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        margin-right: -10px;

        image {
          width: 20px;
          height: 20px;
        }
      }

    }

    .order{
      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        .txt{
          font-size: 16px;
          font-weight: 500;
        }
        .all{
          display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
          image {
            width: 20px;
            height: 20px;
          }
        }
      }
      .myTab{
        .nut-tabbar{
          border: 0;
        }
      }
    }

    .otherMod {
      margin-top: 30px;
      background: #ffffff;
      border-radius: 8px;

      .ModItem {
        background: transparent;
        padding: 14px 12px;
        padding-left: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .icon {
          margin-left: 16rpx;
          margin-right: 20rpx;
        }

        .center {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 16px;
        }

        .lxkfIcon {
          width: 40rpx;
          height: 36rpx;
        }

        .szIcon {
          margin-left: 12rpx;
          margin-right: 16rpx;
          width: 48rpx;
          height: 48rpx;
        }
      }
      .contact{

      }

    }
    .explanation{
      width: 100%;
      height: 481px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      .head{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #333;

        position: relative;
        .close{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 26px;
          color: #666666;
          font-size: 22px;
          font-weight: 400;
          transform: rotate(45deg);
        }

      }
      .content{
        flex: 1;
        padding: 0 15px;
        overflow: scroll;
        margin-bottom: env(safe-area-inset-bottom);
        font-size: 14px;
        font-weight: 400;
        color: #333;
        line-height: 22px;
        letter-spacing: 1px;
        .title{

          font-weight: 500;
        }
        .paragraph{
          margin-bottom: 26px;
        }
      }

    }
  }
}
