page {
  background-color:  rgba(125,185,203,.9);
}
.testContainer{
  :global {
    .dtitle {
      margin-top: 210px;
      font-size: 44px;
      font-weight: 100;
      position: absolute;
      text-align: center;
      width: 100%;
      letter-spacing: 10px;
      color: rgba(116, 104, 242,.5);
      font-family: UbuntuMono-Bold;
    
    }
    
    .contentText {
      font-family: UbuntuMono-Bold;
      position: absolute;
      letter-spacing: 2px;
      top: 600px;
      width: 80%;
      color: #fff;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px;
      background-color: rgba(0, 0, 0, .3);
      font-size: 20px;
      line-height: 40px;
    }
    .bg {
      background-image: url("https://panshi-on.oss-cn-hangzhou.aliyuncs.com/yunxiaoding-mini/other/wggw/HJICCLII-1709709832597mountain.jpg");
      background-size: cover;
      background-position: 50% 50%;
      height: 200vh;
      font-weight: bolder;
      font-size: 110px;
      line-height: 1000px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      text-align: center;
      overflow: hidden;
    }
    
    .bg::before {
      content: '';
      background-size: cover;
      background-image: inherit;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -99;
    }
    
  
  }

}
